# OpenAI
API_OPENAI=

# Database
DB_URL=
#DB_URL=sqlite:///.output/application.db
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Storage
STORAGE_NAME=
STORAGE_KEY=
STORAGE_CONTAINER=
STORAGE_CONNECTION_STRING=